.link {
  margin-right: 10px;
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.appbar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: black 1px solid;
  margin-bottom: 50px;
}

.active {
  color: crimson;
}
