.appbar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: black 1px solid;
  margin-bottom: 50px;
}

.contacts {
  transition: transform 500ms ease;
}

.contacts:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
